pydantic[email]
fastapi
uvicorn
langchain
langchain-groq
requests
langchain_community
sqlalchemy
python-jose[cryptography]
passlib[argon2]
python-multipart
pydantic-settings
email-validator
argon2-cffi
psycopg2-binary
slowapi
authlib
httpx
itsdangerous